body {
    margin: 0px;
    font-family: 'Castoro', serif;
}

.header {
    font-size: 30px;
}

.name {
    color: orange;
}

.tb {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.details {
    text-align: justify;
    color: gray;
}

.half-weath {
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 3%;
}

.tb {
    height: 400px;
}

.half-weath img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5%;
    color: white;
    font-weight: 700;
}

.topbanar {
    margin-top: 20px;
}